// Custom.scss 
// Option B: Include parts of Bootstrap 

// Your variable overrides
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800);
@import url(https://fonts.googleapis.com/css?family=Space+Mono:400,700);

$primary: rgb(45, 194, 107);
$secondary: #fff;
$danger: #953C20; 
$success: #477F38;
$warning: #DDB967;
$info: #8283E4;
$light: #F8F9FA;
$dark: #4810ef;

$body-bg: $secondary;
$enable-rounded: false;

@import "../../node_modules/bootstrap/scss/bootstrap";