
$primary: rgb(49, 192, 13);
$secondary: #fff;
$danger: #953C20; 
$success: #477F38;
$warning: #DDB967;
$info: #8283E4;
$light: rgb(255, 255, 255);
$dark: #4810ef;

$body-bg: $secondary;
$enable-rounded: false;

$source_code_pro: 'Source Code Pro', monospace;

@import "../../node_modules/bootstrap/scss/bootstrap";

@import "_media_query";

body, html {
    height: 100%;
}

.hero {
    background-position: center center;
    background-size: cover;
    height: 100%;
}

.not-found {
    height: 100%;
    h1 {
        font-size: 5rem;
    }
}


.footer {
    img {
        width: 50%;
    }
    h5 {
        font-size: 14px;
    }
    .list-group-item {
        border: 0;
        padding: .4rem 1.25rem;
        font-size: 14px;
    }
}